<script total>

	exports.name = 'Entity';
	exports.icon = 'fa fa-sign-in';
	exports.group = 'MQTT';
	exports.config = { name: 'Entity', broker: '', topic: '',  measurements: [] };
	exports.outputs = [{id: "event", name: "Event"}];
	exports.inputs = [{id: "input", name: "Input"}];
	exports.author = 'Ferenc Klein';
	exports.version = '1';
	exports.flags = ['mqttbroker-dep'];
	exports.type = "output";

	exports.make = function(instance, config) {
		const get = (obj, path) => path.split(".").reduce((r, k) => r?.[k], obj);

		var broker;
		var subscriptions = [];

		let measurements = {};

		instance.updateInputs = function() {
			instance.inputs = [];
			config.measurements.forEach(measurement => {
				instance.inputs.push({id: measurement.name, name: `${measurement.name} (${measurements[measurement.name].to}${measurement.unit})`});
			});
			instance.save();
		}

		instance.configure = function() {
			// Create measurement store
			let oldValues = measurements;
			measurements = {};
			config.measurements.forEach(measurement => {
				if (oldValues.hasOwnProperty(measurement.name)){
					measurements[measurement.name] = oldValues[measurement.name];
					measurements[measurement.name].unit = measurement.unit;
					measurements[measurement.name].tags = measurement.tags;
				} else measurements[measurement.name] = {
					name: measurement.name,
					from: null,
					to: null,
					unit: measurement.unit,
					tags: measurement.tags,
				};
			});

			instance.updateInputs();

			// Unsubscribe prev mqtt things
			if (subscriptions.length > 0 && broker) {
				subscriptions.forEach(topic => {
					broker.unsubscribe(instance.id, topic);
				});
				subscriptions = [];
			}

			// Subscribe mqtt
			broker = instance.main.find(config.broker);

			if (broker && config.topic) {
				broker.subscribe(instance.id, config.topic);
				subscriptions.push(config.topic);

				broker.subscribe(instance.id, config.topic + "/set");
				subscriptions.push(config.topic + "/set");

				instance.status({ name: config.name, status: broker.state.status + ' (subscribed)', topic: config.topic });
			} else {
				instance.status({ name: config.name, status: 'Broker not found', topic: config.topic });
			}
		};

		// Mqtt msg received
		instance.onmessage = function(topic, message, match, ts) {
			if (topic === config.topic) {
				// Sync fields
			} else {
				// Handle control messages
				/*let commands = [];
				Object.getOwnPropertyNames($.data).forEach(key => {
					if (!config.measurements.some(measurement => measurement.name === key)) return;

					commands.push($.data[key]);
				});*/
			}

			//instance.send('message', { topic, message, match, ts });
		};

		// Input msg ($.input input received a $.data msg)
		instance.message = function($) {
			let events = {};

			if ($.input === "input") {
				config.measurements.forEach(measurement => {
					if (!measurement.source) return;
					let value = get($.data, measurement.source);
					if (value === undefined) return;
					if (measurement.unit === " " && typeof value === "string") value = value.toLowerCase() === "true" || value.toLowerCase() === "on";

					measurements[measurement.name].from = measurements[measurement.name].to;
					measurements[measurement.name].to = value;
					events[measurement.name] = measurements[measurement.name];

					instance.inputs.forEach(input => { if (input.id === measurement.name) input.name = `${measurement.name} (${value}${measurement.unit})`;});
				});
			}

			if (Object.getOwnPropertyNames(events).length > 0) {
				instance.save();
				instance.publishMeasurements();

				instance.output({ state: measurements, changed: events, controlled: {} });
			}

			$.end();
		};

		instance.publishMeasurements = function () {
			if (!config.topic) return;

			let payload = {};
			config.measurements.forEach(measurement => {
				if (measurements[measurement.name].to !== null)
					payload[measurement.name] = measurements[measurement.name];
			});

			if (Object.getOwnPropertyNames(payload).length)
				broker.publish(config.topic, payload);

			// instance.output($.data);
		}

		instance.input = function(fromflowstreamid, fromid, data) {
			instance.status({ name: config.name, status: JSON.stringify(data), topic: config.topic });
			instance.send('event', {state: measurements, controlled: data});
		};

		instance.close = function() {
			if (subscriptions.length > 0 && broker) {
				subscriptions.forEach(topic => {
					broker.unsubscribe(instance.id, topic);
				});
				subscriptions = [];
			}
		};

		instance.configure();
	};

	exports.call = function(data, answer) {
		var arr = [];

		var instances = this.instances();

		instances = instances.filter(i => i.module.flags && i.module.flags.includes('mqttbroker'));
		for (let com of instances)
			arr.push({ id: com.id, name: `${com.state.name} (${com.state.status})` });

		answer({
			brokers: arr,
			units: [
				{id: "A", name: "Amper"},
				{id: "[]", name: "Array"},
				{id: " ", name: "Boolean"},
				{id: "°C", name: "Celsius"},
				{id: "dB", name: "Decibel"},
				{id: "°F", name: "Fahrenheit"},
				{id: "K", name: "Kelvin"},
				{id: "kWh", name: "Kilowatt/hour"},
				{id: "lux", name: "Lux"},
				{id: "V", name: "Volt"},
				{id: "W", name: "Watt"},
				{id: "Pa", name: "Pascal"},
				{id: "%", name: "Percent"},
				{id: "Wh", name: "Watt/hour"},
				{id: "\"", name: "Text"},
			]});
	};
</script>

<readme>
</readme>

<style>
	.CLASS footer { padding: 10px; font-size: 11px; }
	.CLASS footer > div > div { height: 16px; }
	.CLASS footer b { float: right; margin-left: 12px; }
	.CLASS { min-width: 220px; }

	.card {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid rgba(0,0,0,.125);
		border-radius: 0.25rem;

		margin: 0.25rem;
		margin-bottom: 10px;
	}

	.card-header {
		padding: 2px  4px;
    	margin-bottom: 0;
    	background-color: rgba(0,0,0,.03);
    	border-bottom: 1px solid rgba(0,0,0,.125);
	}

	.card-body {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 2px;
	}

	.row {
		margin-top: 1px;
		margin-bottom: 1px;
		padding: 2px;
	}
</style>

<settings>
	<div class="padding CLASS-settings">
		<div class="row">
			<div class="col-md-6">
				<div data---="input__?.name__placeholder:Entity;required:1" class="m"><b>Entity name</b></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div data---="input__?.broker__dirsource:%brokers;dirraw:1;placeholder:Select broker;dirempty:No broker;required:1" class="m"><b>Broker</b></div>
			</div>
			<div class="col-md-6">
				<div data---="input__?.topic__placeholder:devices/status" class="m"><b>Topic</b></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">Fields</div>
			<div class="col-md-2">
				<button class="exec" data-exec="entityMeasurement.add"><i class="fa fa-plus-circle"></i></button>
			</div>
		</div>
		<div data-bind="?.measurements__template:figure --> data-id__show:value && value.length" class="fields m">
			<script type="text/html">
				{{ foreach m in value }}
					<figure data-id="{{ m.id }}" class="card">
						<div class="card-header">
							<div class="row">
								<div class="col-md-4">
									<div data---="input__?.measurements[{{ $index }}].name__placeholder:Name;required:1"></div>
								</div>
								<div class="col-md-8">
									<div style="float:right">
										<span class="exec" data-exec="entityMeasurement.move" data-type="up" title="Move up"><i class="far fa fa-arrow-up"></i></span>
										<span class="exec" data-exec="entityMeasurement.move" data-type="down" title="Move down"><i class="far fa fa-arrow-down"></i></span>
										<span class="exec" data-exec="entityMeasurement.rem" title="Remove"><i class="far fa-trash-alt red"></i></span>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-3 source">
									<div data---="input__?.measurements[{{ $index }}].source__placeholder:Source"><b>Source</b></div>
								</div>
								<div class="col-md-3 unit">
									<div data---="input__?.measurements[{{$index}}].unit__dirsource:%units;dirraw:1;placeholder:Select unit;dirempty:No unit available;required:1"><b>Unit</b></div>
								</div>
								<div class="col-md-6">
									<div data---="keyvalue__?.measurements[{{ $index }}].tags__placeholderkey:Type a tag name;placeholdervalue:Type a tag value and press enter">Tags</div>
								</div>
							</div>
						</div>
					</figure>
				{{ end }}
			</script>
		</div>
	</div>
</settings>

<body>
	<header>
		<div data-bind="!STATUS__template__show">
			<script type="text/html">
				<i class="ICON"></i>{{ value.name }}
			</script>
		</div>
	</header>
	<footer>
		<div data-bind="!STATUS__template__show">
			<script type="text/html">
				<div><b>{{ value.status }}</b>Status</div>
				<div><b>{{ value.topic }}</b>Topic</div>
			</script>
		</div>
	</footer>
</body>

<script>
	ON('configure_entity', function(data) {
		data.call(function(response) {
			SET('%brokers', response.brokers);
			SET('%units', response.units);
		}, true);
	});

	TOUCH(function(exports, reinit) {

		exports.settings = function(meta) {
			if (true || !W.entityMeasurement) {
				let setterFunction = function(opt, next, attribute) {
					opt.value = opt.value.replace(/(;|\s|,)/g, '').trim();
					if (opt.value) {
						var scope = opt.element.scope();
						var id = ATTRD(opt.element);
						var item = scope.get().measurements.findItem('id', id);
						item[attribute] = opt.value;
						scope.change('*');
						next(true);
					} else
						next(opt.html);
				};


				W.entityMeasurement = {};
				W.entityMeasurement.add = function(el) {
					var scope = el.scope();
					scope.push('measurements', {
						id: Math.random().toString(36).substring(4),
						name: 'Measurement',
						unit: 'unit',
						tags: {},
						source: "",
					});
					scope.change('*');
				};

				W.entityMeasurement.rem = function(el) {
					var id = ATTRD(el);
					var scope = el.scope();
					var model = scope.get();
					var index = model.measurements.findIndex('id', id);
					model.measurements.splice(index, 1);
					scope.update('measurements');
					scope.change('*');
				};

				W.entityMeasurement.move = function(el) {
					var scope = el.scope();
					var id = ATTRD(el);
					var container = el.closest('figure');
					var measurements = scope.get().measurements;
					var index = measurements.findIndex('id', id);
					var is = false;
					var isup = el.attrd('type') === 'up';

					if (isup) {
						if (index > 0) {
							var a = measurements[index];
							measurements[index] = measurements[index - 1];
							measurements[index - 1] = a;
							is = true;
						}
					} else {
						if (index <= measurements.length - 2) {
							var a = measurements[index];
							measurements[index] = measurements[index + 1];
							measurements[index + 1] = a;
							is = true;
						}
					}

					if (is) {
						NODEMOVE(container, isup);
						scope.change('*');
						container.aclass('ismoved').rclass('ismoved', 500);
					}
				};
			}
		};
	});

</script>
